lib/zstd/* linguist-vendored
lib/softfloat/* linguist-vendored
images/TinyCore-11.0.iso filter=lfs diff=lfs merge=lfs -text
images/bl3-5.img filter=lfs diff=lfs merge=lfs -text
images/haiku_state-v3.bin.zst filter=lfs diff=lfs merge=lfs -text
images/linux.iso filter=lfs diff=lfs merge=lfs -text
images/linux4.iso filter=lfs diff=lfs merge=lfs -text
images/msdos.img filter=lfs diff=lfs merge=lfs -text
images/os8.img filter=lfs diff=lfs merge=lfs -text
images/reactos_state.bin.zst filter=lfs diff=lfs merge=lfs -text
images/windows98_state.bin.zst filter=lfs diff=lfs merge=lfs -text
images/bootchess.img filter=lfs diff=lfs merge=lfs -text
images/dsl-4.11.rc2.iso filter=lfs diff=lfs merge=lfs -text
images/freedos722.img filter=lfs diff=lfs merge=lfs -text
images/qnx-demo-network-4.05.img filter=lfs diff=lfs merge=lfs -text
images/FreeNOS-1.0.3.iso filter=lfs diff=lfs merge=lfs -text
images/kolibri.img filter=lfs diff=lfs merge=lfs -text
images/skift-20200910.iso filter=lfs diff=lfs merge=lfs -text
images/arch_state.bin.zst filter=lfs diff=lfs merge=lfs -text
images/buildroot-bzimage.bin filter=lfs diff=lfs merge=lfs -text
images/elks-hd32-fat.img filter=lfs diff=lfs merge=lfs -text
images/9front_state-v2.bin.zst filter=lfs diff=lfs merge=lfs -text
images/oberon.img filter=lfs diff=lfs merge=lfs -text
images/redox_state.bin.zst filter=lfs diff=lfs merge=lfs -text
images/snowdrop.img filter=lfs diff=lfs merge=lfs -text
images/win31.img filter=lfs diff=lfs merge=lfs -text
images/windows2k_state-v2.bin.zst filter=lfs diff=lfs merge=lfs -text
images/freegem.bin filter=lfs diff=lfs merge=lfs -text
images/kolibri.img.1 filter=lfs diff=lfs merge=lfs -text
images/skiffos.iso filter=lfs diff=lfs merge=lfs -text
images/windows101.img filter=lfs diff=lfs merge=lfs -text
images/xpud-0.9.2.iso filter=lfs diff=lfs merge=lfs -text
images/HelenOS-0.11.2-ia32.iso filter=lfs diff=lfs merge=lfs -text
images/bootbasic.img filter=lfs diff=lfs merge=lfs -text
images/linux3.iso filter=lfs diff=lfs merge=lfs -text
images/nodeos-kernel.bin filter=lfs diff=lfs merge=lfs -text
images/openbsd_state.bin.zst filter=lfs diff=lfs merge=lfs -text
images/sectorlisp-friendly.bin filter=lfs diff=lfs merge=lfs -text
images/serenity_state-v4.bin.zst filter=lfs diff=lfs merge=lfs -text
images/Win30.iso filter=lfs diff=lfs merge=lfs -text
images/freebsd_state.bin.zst filter=lfs diff=lfs merge=lfs -text
images/mobius-fd-release5.img filter=lfs diff=lfs merge=lfs -text
images/openwrt-18.06.1-x86-legacy-combined-squashfs.img filter=lfs diff=lfs merge=lfs -text
images/sectorforth.img filter=lfs diff=lfs merge=lfs -text
